 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

.container {
    max-width: 100%;
    width: 1574px;
    margin: 0 auto;
}

nav {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

header {
    background-color: #161616;
}

ul {
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.5px;
    font-family: 'Inter', sans-serif;

    display: inline-flex;
    gap: 42px;
   
}


main .container {
    width: 100%;
    background-color: #161616;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    align-content: center;
}

.first-title {
    padding: 64px 283px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 700px;
    line-height: 76px;
    letter-spacing: -0.836px;
}

.content-text {
    padding: 12px 614px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.5px;
}

.btt-projetos {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;    
    line-height: 28.5px;
    padding: 98px 69px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
}

